<div class="top">
    <div class="right">
        <h2 class="d-inline p-4">Danh sách loại sản phẩm</h2>
        <p-button (click)="showAdd()" icon="pi pi-external-link" label="Thêm"></p-button>
        
        <!-- <p-button (click)="exportExcel()" icon="pi pi-external-link" label="Export data"></p-button> -->
    </div>
</div>
<div class="bot">
    <p-panel header="Tìm kiếm" [style]="{'margin-top': '2px'}">
        <form class="form-horizontal row" role="form" [formGroup]="formsearch"  (ngSubmit)="search()">
            <div class="form-group col-4">
                <label class="col-sm-6 control-label no-padding-right"> Tên loại sản phẩm </label>
                <div class="col-sm-12">
                    <input formControlName="tenLoai" class="form-control" type="text" placeholder="Tên loại sản phẩm" />
                </div>
            </div>
            <div class="form-group col-8">
                <label class="col-sm-1 control-label no-padding-right"></label>
                <div class="col-sm-11">
                    <button (click)="search()" class="btn btn-sm btn-primary">Tìm kiếm</button>
                </div>
            </div>
        </form> 
        <!-- Start Sort Select Option -->
        <div class="sort-select-list d-flex align-items-center mt-3">
            <label class="mr-2">Hiển thị:</label>
            <fieldset>
                <select class="form-control" [(ngModel)]="pageSize" (ngModelChange)="loadPage(1)">
                    <option selected value="3">3</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option value="{{totalItems}}">All</option>
                </select>
            </fieldset>
        </div> 
        <!-- End Sort Select Option -->
        <!-- <div class="col-md-4 text-right">
            <button class="btn btn-success btn-block" (click)="openPDF()">Download PDF</button>
        </div> -->
    </p-panel>
    <p-table id="category" selectionMode="single" [value]="categories" styleClass="p-datatable-gridlines" [style]="{'margin-top': '2px', 'width': '100%'}" >
        <ng-template pTemplate="header">
            <tr>
                <th>STT</th>
                <th>Tên loại</th>
                <th>Nhóm</th>
                <th>Mô tả</th>
                <th>Hình ảnh</th>
                <th>Thao tác</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-category  let-i="rowIndex">
            <tr>
                <td style="text-align: center;">{{i+1}}</td>
                <td style="text-align: center;">{{category.tenLoai}}</td>
                <td>{{category.tenNhom}}</td>
                <td [innerHtml]="category.moTa"></td>
                <td>
                    <img src="../../../../assets/images/img/{{category.anh}}" width="150px" height="100px" alt=""> 
                </td>
                <td  style="text-align: center;">
                    <button pButton type="button" (click)="edit(category)" title="Sửa"  class="p-button-secondary"><i class="fas fa-edit"></i></button>
                    <button pButton type="button" onclick="confirm('Bạn chắc chắn muốn xóa không?')" (click)="remove(category.maLoai)" title="Xóa"  class="p-button-danger"><i class="fas fa-trash"></i></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <div class="mt-5" style="position: relative;margin-left: 40%;">
        <ngb-pagination [collectionSize]="totalItems" [pageSize]="pageSize" [(page)]="page" [maxSize]="10" [rotate]="true" (pageChange)="loadPage($event)"></ngb-pagination>
    </div>
</div>

<!-- Add -->
<p-dialog [(visible)]="displayAdd" [style]="{width: '30vw'}" [dismissableMask]="true" [modal]="true">
    
    <form (ngSubmit)="AddNew(form)" #form="ngForm">
        <h3>Thêm loại sản phẩm mới </h3>
        <div style="width: 100%; margin-left: 5%;">
            <input type="hidden"name="maLoai"  ngModel #maLoai="ngModel" >
            <label style="font-weight: bold;">Tên loại:</label>
            <input type="text" class="form-control" name="tenLoai"  ngModel #tenLoai="ngModel" placeholder="Tên loại sản phẩm">
            <label style="font-weight: bold;">Nhóm sản phẩm:</label>
            <p-dropdown class="form-control" [options]="productsGroup" [(ngModel)]="selectedProductGroup" 
            placeholder="Chọn nhóm sản phẩm" optionLabel="tenNhom" optionValue="maNhom" [showClear]="true" name="maNhom"  ngModel #maNhom="ngModel"></p-dropdown>
            <label style="font-weight: bold;">Mô tả:</label>
            <p-editor [style]="{'height':'320px'}" name="moTa"  ngModel #moTa="ngModel"></p-editor>
            <label style="font-weight: bold;">Hình ảnh:</label>
            <input type="file" class="form-control" (change)="onChange($event)" name="Anh"  ngModel #Anh="ngModel">
            <div class="mt-3">
                <button type="submit" class="btn btn-primary btn-lg btn-block"><i class="mdi mdi-check"></i>Thêm</button>
                <button type="button" (click)="displayAdd=false" class="btn btn-danger btn-lg btn-block "> <i class="mdi mdi-window-close"></i>Huỷ</button>
            </div>
        </div>
    </form>
</p-dialog>
<!-- Edit -->
<p-dialog [(visible)]="isEdit" [style]="{width: '30vw'}" [dismissableMask]="true" [modal]="true">
    <form action="" (ngSubmit)="SaveData()" #form="ngForm">
        <h3>Sửa thông tin loại sản phẩm</h3>
        <div style="width: 90%; margin-left: 5%;">
            <label style="font-weight: bold;">Tên loại:</label>
            <input type="text" class="form-control"  placeholder="Tên loại"  [(ngModel)]="category.tenLoai" name="tenSanPham" >
            <label style="font-weight: bold;">Tên nhóm:</label>
            <p-dropdown class="form-control" [options]="productsGroup" [(ngModel)]="selectedProductGroup" placeholder="Chọn nhóm sản phẩm" optionLabel="tenNhom" optionValue="maNhom" [showClear]="true" name="maNhom"  ngModel #maNhom="ngModel"  [(ngModel)]="category.maNhom"></p-dropdown>
            <label style="font-weight: bold;">Mô tả:</label>
            <p-editor  [style]="{'height':'320px'}" name="moTa"  ngModel #moTa="ngModel" [(ngModel)]="category.moTa"></p-editor>
            <label style="font-weight: bold;">Hình ảnh:</label>
            
            <div style="display: flex;">
                <img ng-if="anh" src="../../../../assets/images/img/{{category.anh}}" style="width: 100px; height: 100px; margin-right: 10px;">
                <input type="file" class="form-control" (change)="onChange($event)" name="Anh" [(ngModel)]="category.anh"  ngModel #Anh="ngModel">
            </div>
            <div class="mt-3">
                <button type="submit" class="btn btn-primary btn-lg btn-block"  ><i class="mdi mdi-check"></i> Lưu </button>
                <button type="button" (click)="isEdit=false" class="btn btn-danger btn-lg btn-block"> <i class="mdi mdi-window-close"></i>Huỷ</button>
            </div>
        </div>
    </form>
</p-dialog>
