<!--register area end-->
<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <div class="login100-pic js-tilt" data-tilt>
        <img src="assets/login/images/ava.jpg" alt="IMG" />
      </div>

      <form
        class="login100-form validate-form"
        [formGroup]="frmLogin"
        (ngSubmit)="onSubmit()"
      >
        <span class="login100-form-title"> Đăng nhập </span>
        <label>Tài khoản <span>*</span></label>
        <div
          class="wrap-input100 validate-input"
          data-validate="Valid email is required: ex@abc.xyz"
        >
          <input
            type="text"
            formControlName="TaiKhoan"
            placeholder="Nhập tài khoản"
            class="input100"
          />
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fa fa-envelope" aria-hidden="true"></i>
          </span>
        </div>
        <div *ngIf="submitted && f.TaiKhoan.errors" class="invalid-feedback">
          <div *ngIf="f.TaiKhoan.errors.required">Chưa nhập tài khoản!</div>
        </div>

        <!-- password -->
        <label>Mật khẩu <span>*</span></label>
        <div
          class="wrap-input100 validate-input"
          data-validate="Password is required"
        >
          <input
            class="input100"
            type="password"
            formControlName="MatKhau"
            placeholder="Nhập mật khẩu"
          />
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fa fa-lock" aria-hidden="true"></i>
          </span>
        </div>
        <div *ngIf="submitted && f.MatKhau.errors" class="invalid-feedback">
          <div *ngIf="f.MatKhau.errors.required">Chưa nhập mật khẩu!</div>
        </div>

        <div class="container-login100-form-btn">
          <button
            class="login100-form-btn"
            type="submit"
            [disabled]="frmLogin.invalid || loading"
          >
            Đăng nhập
          </button>
        </div>

        <div class="text-center p-t-136">
          <a class="txt2" href="/auth/dangky">
            Đăng kí
            <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
