<div class="top">
    <div class="right">
        <!-- <button class="btnX" pButton type="button" (click)="showAdd()" lable="Thêm"></button> -->
        <h2 class="d-inline p-4">Danh sách sản phẩm</h2>
        <p-button (click)="showAdd()" icon="pi pi-external-link" label="Thêm"></p-button>
        
        <!-- <p-button (click)="exportExcel()" icon="pi pi-external-link" label="Export data"></p-button> -->
    </div>
</div>
<div class="bot">
    <p-panel header="Tìm kiếm" [style]="{'margin-top': '2px'}">
        <form class="form-horizontal row" role="form" [formGroup]="formsearch"  (ngSubmit)="search()">
            <div class="form-group col-4">
                <label class="col-sm-6 control-label no-padding-right"> Tên sản phẩm </label>
                <div class="col-sm-12">
                    <input formControlName="tenSanPham" class="form-control" type="text" placeholder="Tên sản phẩm" />
                </div>
            </div>
            <div class="form-group col-8">
                <label class="col-sm-1 control-label no-padding-right"></label>
                <div class="col-sm-11">
                    <button (click)="search()" class="btn btn-sm btn-primary">Tìm kiếm</button>
                </div>
            </div>
        </form> 
        <!-- Start Sort Select Option -->
        <div class="sort-select-list d-flex align-items-center mt-3">
            <label class="mr-2">Hiển thị:</label>
            <fieldset>
                <select class="form-control" [(ngModel)]="pageSize" (ngModelChange)="loadPage(1)">
                    <option selected value="3">3</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="20">50</option>
                    <option value="{{totalItems}}">All</option>
                </select>
            </fieldset>
        </div> 
        <!-- End Sort Select Option -->
        <!-- <div class="col-md-4 text-right">
            <button class="btn btn-success btn-block" (click)="openPDF()">Download PDF</button>
        </div> -->
    </p-panel>
    
    <p-table id="product" selectionMode="single" [value]="products" styleClass="p-datatable-gridlines" [style]="{'margin-top': '2px', 'width': '100%'}" >
        <ng-template pTemplate="header">
            <tr>
                <th>STT</th>
                <th>Tên sản phẩm</th>
                <th>Loại</th>
                <th>Hãng</th>
                <th>Xuất xứ</th>
                <th>Bảo hành</th>
                <th>Màu sắc</th>
                <th>Giá bán</th>
                <th>Mô tả</th>
                <th>Hình ảnh</th>
                <th>Thao tác</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product  let-i="rowIndex" let-expanded="expanded">
            <tr>
                <td style="text-align: center;">{{i+1}}</td>
                <td style="text-align: center;">{{product.tenSanPham}}</td>
                <td>{{product.tenLoai}}</td>
                <td>{{product.tenHang}}</td>
                <td>{{product.xuatXu}}</td>
                <td>{{product.baoHanh}}</td>
                <td>{{product.mauSac}}</td>
                <td style="color: red; font-weight: bold;">{{product.giaBan  | currency: "VND"}}</td>
                <td  [innerHtml]='product.moTa'></td>
                <td><img src="../../../../assets/images/img/{{product.anh}}" width="150px" height="100px" alt=""></td>
                <td  style="text-align: center;">
                    <button pButton type="button" (click)="edit(product)" title="Sửa"  class="p-button-secondary"><i class="fas fa-edit"></i></button>
                    <button pButton type="button" (click)="delete(product.maSanPham)" title="Xóa"  class="p-button-danger"><i class="fas fa-trash"></i></button>
                    
                </td>
            </tr>
        </ng-template>
    </p-table>
    <div class="mt-5" style="position: relative;margin-left: 40%;">
        <ngb-pagination [collectionSize]="totalItems" [pageSize]="pageSize" [(page)]="page" [maxSize]="10" [rotate]="true" (pageChange)="loadPage($event)"></ngb-pagination>
    </div>
</div>

<!-- Add -->
<p-dialog [(visible)]="displayAdd" [style]="{width: '30vw'}" [dismissableMask]="true" [modal]="true">
    
    <form (ngSubmit)="AddNewProduct(form)" #form="ngForm">
        <h3>Thêm sản phẩm mới </h3>
        <div style="width: 100%; margin-left: 5%;">
            <input type="hidden"name="maSanPham"  ngModel #maSanPham="ngModel" >
            <label style="font-weight: bold;">Tên sản phẩm:</label>
            <input type="text" class="form-control" name="tenSanPham"  ngModel #tenSanPham="ngModel" placeholder="Tên sản phẩm">
            <label style="font-weight: bold;">Loại sản phẩm:</label>
            <p-dropdown class="form-control" [options]="categories" [(ngModel)]="selectedCategory" 
            placeholder="Chọn loại sản phẩm" optionLabel="tenLoai" optionValue="maLoai" [showClear]="true" name="maLoai"  ngModel #maLoai="ngModel"></p-dropdown>
            <label style="font-weight: bold;">Hãng sản phẩm:</label>
            <p-dropdown class="form-control" [options]="brands" [(ngModel)]="selectedBrand"
            placeholder="Chọn hãng sản phẩm" optionLabel="tenHang" optionValue="maHang" [showClear]="true" name="maHang"  ngModel #maHang="ngModel"></p-dropdown>
            <label style="font-weight: bold;">Xuất xứ:</label>
            <input type="text" class="form-control"  placeholder="Xuất xứ" name="xuatXu"  ngModel #xuatXu="ngModel">
            <label style="font-weight: bold;">Bảo hành:</label>
            <input type="text" class="form-control" placeholder="Bảo hành" name="baoHanh"  ngModel #baoHanh="ngModel" >
            <label style="font-weight: bold;">Màu sắc:</label>
            <input type="text" class="form-control" placeholder="Màu sắc" name="mauSac"  ngModel #mauSac="ngModel" >
            <label style="font-weight: bold;">Giá bán:</label>
            <input type="number" class="form-control" placeholder="Giá bán" name="giaBan"  ngModel #giaBan="ngModel">
            <label style="font-weight: bold;">Mô tả:</label>
            <p-editor [style]="{'height':'320px'}" name="moTa"  ngModel #moTa="ngModel"></p-editor>
            <label style="font-weight: bold;">Hình ảnh:</label>
            <input type="file" class="form-control" (change)="onChange($event)" name="Anh"  ngModel #Anh="ngModel">
            <!-- <img [src]="image" style="max-height:200px;"> -->
            <div class="mt-3">
                <button type="submit" class="btn btn-primary btn-lg btn-block"><i class="mdi mdi-check"></i>Thêm</button>
                <button type="button" (click)="displayAdd=false" class="btn btn-danger btn-lg btn-block "> <i class="mdi mdi-window-close"></i>Huỷ</button>
            </div>
        </div>
    </form>
</p-dialog>

<p-dialog [(visible)]="isEdit" [style]="{width: '30vw'}" [dismissableMask]="true" [modal]="true">
    <!-- Content -->
    <form (ngSubmit)="SaveData()" #form="ngForm">
        
        
        <h3>Sửa thông tin sản phẩm</h3>
        
        <div style="width: 90%; margin-left: 5%;">
            
            <label style="font-weight: bold;">Tên sản phẩm:</label>
            <input type="text" class="form-control"  [(ngModel)]="product.tenSanPham" name="tenSanPham"  placeholder="Tên sản phẩm">
            <label style="font-weight: bold;">Loại sản phẩm:</label>
            <p-dropdown class="form-control" [options]="categories" [(ngModel)]="selectedCategory" 
            placeholder="Chọn loại sản phẩm" optionLabel="tenLoai" optionValue="maLoai" [showClear]="true" name="maLoai"  ngModel #maLoai="ngModel"  [(ngModel)]="product.maLoai"></p-dropdown>
            <label style="font-weight: bold;">Hãng sản phẩm:</label>
            <p-dropdown class="form-control" [options]="brands" [(ngModel)]="selectedBrand"
            placeholder="Chọn hãng sản phẩm" optionLabel="tenHang" optionValue="maHang" [showClear]="true" name="maHang"  ngModel #maHang="ngModel"   [(ngModel)]="product.maHang"></p-dropdown>
            <label style="font-weight: bold;">Xuất xứ:</label>
            <input type="text" class="form-control" [(ngModel)]="product.xuatXu" placeholder="Xuất xứ" name="xuatXu"  ngModel #xuatXu="ngModel">
            <label style="font-weight: bold;">Bảo hành:</label>
            <input type="text" class="form-control" placeholder="Bảo hành" name="baoHanh"  ngModel #baoHanh="ngModel" [(ngModel)]="product.baoHanh" >
            <label style="font-weight: bold;">Màu sắc:</label>
            <input type="text" class="form-control" placeholder="Màu sắc" name="mauSac"  ngModel #mauSac="ngModel"  [(ngModel)]="product.mauSac" >
            <label style="font-weight: bold;">Giá bán:</label>
            <input type="number" class="form-control" placeholder="Giá bán" name="giaBan"  ngModel #giaBan="ngModel" [(ngModel)]="product.giaBan">
            <label style="font-weight: bold;">Mô tả:</label>
            <p-editor [style]="{'height':'320px'}" name="moTa"  ngModel #moTa="ngModel" [(ngModel)]="product.moTa"></p-editor>
            <label style="font-weight: bold;">Hình ảnh:</label>
            <div style="display: flex;">
                <img ng-if="anh" src="../../../../assets/images/img/{{product.anh}}" style="width: 100px; height: 100px; margin-right: 10px;">
                <input type="file" class="form-control" (change)="onChange($event)" name="Anh"  ngModel #Anh="ngModel">
            </div>
            <div class="mt-3">
                <button type="submit" class="btn btn-primary btn-lg btn-block"  >
                    <i class="mdi mdi-check"></i>
                    Lưu
                </button>
                <button type="button" (click)="isEdit=false" class="btn btn-danger btn-lg btn-block"> <i
                    class="mdi mdi-window-close"></i>
                    Huỷ</button>
                </div>
            </div>
        </form>
    </p-dialog>
    
    