/* .form-control{
    display: none;
} */
.breadcrumb-bg-color--golden {
    background: #f5f5f5;
}
.image-box img{
    height: 300px;
}
.product-default-single-item:hover .action-link {
    opacity: 0;
}
.product-color--golden .content-left .title a:hover {
    color: #cf2a3d;
}
.page-pagination li a.active, .page-pagination li a:hover {
    background: #cf2a3d;
    color: #fff;
}