<!-- ...:::: Start Breadcrumb Section:::... -->
<div class="breadcrumb-section breadcrumb-bg-color--golden">
  <div class="breadcrumb-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h3 class="breadcrumb-title">Điều khoản dịch vụ</h3>
          <div
            class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden"
          >
            <nav aria-label="breadcrumb">
              <ul>
                <li><a routerLink="/">Trang chủ</a></li>
                <li class="active" aria-current="page">
                  Điều khoản dịch vụ
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ...:::: End Breadcrumb Section:::... -->

<!-- ...::::Start Contact Section:::... -->
<div class="contact-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <!-- Start Contact Details -->
        <div
          class="contact-details-wrapper"
          data-aos="fade-up"
          data-aos-delay="0"
        >
          <h1 class="font-title title color-title">Điều khoản dịch vụ</h1>
          <p class="color-title font-item">
            1. Giới thiệu
          </p>
          <p>Chào mừng quý khách hàng đến với website chúng tôi.</p>
          <p>
            Khi quý khách hàng truy cập vào trang website của chúng tôi có nghĩa
            là quý khách đồng ý với các điều khoản này. Trang web có quyền thay
            đổi, chỉnh sửa, thêm hoặc lược bỏ bất kỳ phần nào trong Điều khoản
            mua bán hàng hóa này, vào bất cứ lúc nào. Các thay đổi có hiệu lực
            ngay khi được đăng trên trang web mà không cần thông báo trước. Và
            khi quý khách tiếp tục sử dụng trang web, sau khi các thay đổi về
            Điều khoản này được đăng tải, có nghĩa là quý khách chấp nhận với
            những thay đổi đó.
          </p>
          <p>
            Quý khách hàng vui lòng kiểm tra thường xuyên để cập nhật những thay
            đổi của chúng tôi.
          </p>
          <p class="color-title font-item">
            2. Hướng dẫn sử dụng website
          </p>
          <p>
            Khi vào web của chúng tôi, khách hàng phải đảm bảo đủ 18 tuổi, hoặc
            truy cập dưới sự giám sát của cha mẹ hay người giám hộ hợp pháp.
            Khách hàng đảm bảo có đầy đủ hành vi dân sự để thực hiện các giao
            dịch mua bán hàng hóa theo quy định hiện hành của pháp luật Việt
            Nam.
          </p>
          <p>
            Trong suốt quá trình đăng ký, quý khách đồng ý nhận email quảng cáo
            từ website. Nếu không muốn tiếp tục nhận mail, quý khách có thể từ
            chối bằng cách nhấp vào đường link ở dưới cùng trong mọi email quảng
            cáo.
          </p>
          <p class="color-title font-item">
            3. Thanh toán an toàn và tiện lợi
          </p>
          <p>
            Người mua có thể tham khảo các phương thức thanh toán sau đây và lựa
            chọn áp dụng phương thức phù hợp:
          </p>
          <p>
            <strong><u>Cách 1</u></strong
            >: Thanh toán trực tiếp (người mua nhận hàng tại địa chỉ người
            bán)<br />
            <strong><u>Cách 2</u></strong
            ><strong>:</strong>Thanh toán sau (COD – giao hàng và thu tiền tận
            nơi)
          </p>
        </div>
        <!-- End Contact Details -->
      </div>
    </div>
  </div>
</div>
<!-- ...::::ENd Contact Section:::... -->
