<!-- ...:::: Start Breadcrumb Section:::... -->
<div class="breadcrumb-section breadcrumb-bg-color--golden">
  <div class="breadcrumb-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h3 class="breadcrumb-title">Hướng dẫn chọn size</h3>
          <div
            class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden"
          >
            <nav aria-label="breadcrumb">
              <ul>
                <li><a routerLink="/">Trang chủ</a></li>
                <li class="active" aria-current="page">Hướng dẫn chọn size</li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ...:::: End Breadcrumb Section:::... -->

<!-- ...::::Start Contact Section:::... -->
<div class="contact-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <!-- Start Contact Details -->
        <div
          class="contact-details-wrapper"
          data-aos="fade-up"
          data-aos-delay="0"
        >
          <h1 class="font-title title color-title">Hướng dẫn chọn size</h1>
          <h1 class="color-title font-item">
            Do các mẫu áo bên tụi mình đều là form cơ bản nên những bạn đang
            muốn lựa chọn những chiếc áo oversize thì có thể chủ động đẩy lên 1
            hoặc 2 size nhé ^^
          </h1>
          <p class="color-title font-item">1. BẢNG SIZE ÁO THUN</p>
          <img
            src="https://file.hstatic.net/200000249781/file/size-ao_e61b7a42a519491fae6c993514b8401b_grande.png"
          />
          <p class="color-title font-item">
            2. BẢNG SIZE ÁO THUN DÀI TAY
          </p>
          <img
            src="https://file.hstatic.net/200000249781/file/size-ao_e61b7a42a519491fae6c993514b8401b_grande.png"
          />
          <p class="color-title font-item">
            3. BẢNG SIZE SWEATER
          </p>
          <img
            src="https://file.hstatic.net/200000249781/file/size-ao-sweater_dfc0085e2644484b8b3e1bfa2216abd8_grande.png"
          />
          <p class="color-title font-item">
            4. BẢNG SIZE HOODIE
          </p>
          <img
            src="https://file.hstatic.net/200000249781/file/size-ao-hoodie_90f36fddade54e4fb2996d544510a5fa_grande.png"
          />
          <p>
            Bạn hãy tìm một chiếc áo đang mặc thoải mái nhất của mình, đo và so
            sánh với bảng phía trên để tìm ra size áo phù hợp nhất với mình nhé.
          </p>
          <p>
            Một mẹo nhỏ dành cho những bạn có số đo ở giữa hai size thì hãy chọn
            size lớn hơn để mặc nha ^^.
          </p>
        </div>
        <!-- End Contact Details -->
      </div>
    </div>
  </div>
</div>
<!-- ...::::ENd Contact Section:::... -->
