<!-- ...:::: Start Breadcrumb Section:::... -->
<div class="breadcrumb-section breadcrumb-bg-color--golden">
  <div class="breadcrumb-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h3 class="breadcrumb-title">Chính sách bảo mật</h3>
          <div
            class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden"
          >
            <nav aria-label="breadcrumb">
              <ul>
                <li><a routerLink="/">Trang chủ</a></li>
                <li class="active" aria-current="page">
                  Chính sách bảo mật
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ...:::: End Breadcrumb Section:::... -->

<!-- ...::::Start Contact Section:::... -->
<div class="contact-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <!-- Start Contact Details -->
        <div
          class="contact-details-wrapper"
          data-aos="fade-up"
          data-aos-delay="0"
        >
          <h1 class="font-title title color-title">Hướng dẫn chọn size</h1>
          <p>
            Chính sách bảo mật này nhằm giúp Quý khách hiểu về cách website thu
            thập và sử dụng thông tin cá nhân của mình thông qua việc sử dụng
            trang web, bao gồm mọi thông tin có thể cung cấp thông qua trang web
            khi Quý khách đăng ký tài khoản, đăng ký nhận thông tin liên lạc từ
            chúng tôi, hoặc khi Quý khách mua sản phẩm, dịch vụ, yêu cầu thêm
            thông tin dịch vụ từ chúng tôi.
          </p>
          <p>
            Chúng tôi sử dụng thông tin cá nhân của Quý khách để liên lạc khi
            cần thiết liên quan đến việc Quý khách sử dụng website của chúng
            tôi, để trả lời các câu hỏi hoặc gửi tài liệu và thông tin Quý khách
            yêu cầu.
          </p>
          <p>
            <span
              >Trang web của chúng tôi coi trọng việc bảo mật thông tin và sử
              dụng các biện pháp tốt nhất để bảo vệ thông tin cũng như việc
              thanh toán của khách hàng.</span
            >
          </p>
          <p>
            <span
              >Mọi thông tin giao dịch sẽ được bảo mật ngoại trừ trong trường
              hợp cơ quan pháp luật yêu cầu.</span
            >
          </p>
        </div>
        <!-- End Contact Details -->
      </div>
    </div>
  </div>
</div>
<!-- ...::::ENd Contact Section:::... -->
