<!-- Start Footer Section -->
<footer class="footer-section footer-bg">
  <div class="footer-wrapper">
    <!-- Start Footer Center -->
    <div class="footer-top">
      <div class="container">
        <div class="row mb-n6">
          <div class="col-xl-3 col-lg-4 col-md-6 mb-6"></div>
          <div class="col-xl-7 col-lg-6 col-md-6 mb-6">
            <div
              class="footer-newsletter"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <h4 class="title">ĐỪNG BỎ LỠ CUỘC SỐNG MỚI NHẤT</h4>
              <div class="form-newsletter">
                <form
                  action="https://accounts.google.com/signin/v2/identifier?contin&flowName=GlifWebSignIn&flowEntry=ServiceLogin"
                >
                  <div
                    class="form-fild-newsletter-single-item input-color--golden"
                  >
                    <input
                      type="email"
                      placeholder="Địa chỉ Email của bạn"
                      required
                    />
                    <button type="submit">ĐĂNG KÝ!</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Start Footer Center -->
    <!-- Start Footer Top -->
    <div class="footer-center">
      <div class="container">
        <div class="row mb-n6">
          <div class="col-lg-3 col-sm-6 mb-6">
            <!-- Start Footer Single Item -->
            <div
              class="footer-widget-single-item footer-widget-color--golden"
              data-aos="fade-up"
              data-aos-delay="600"
            >
              <h5 class="title">VỀ CHÚNG TÔI</h5>
              <div class="footer-about">
                <p>
                  Chúng tôi là một nhóm các nhà thiết kế và nhà phát triển tạo
                  ra Magento, Prestashop, Opencart chất lượng cao..
                </p>
              </div>
            </div>
            <!-- End Footer Single Item -->
          </div>
          <div class="col-lg-3 col-sm-6 mb-6">
            <!-- Start Footer Single Item -->
            <div
              class="footer-widget-single-item footer-widget-color--golden"
              data-aos="fade-up"
              data-aos-delay="0"
            >
              <h5 class="title">THÔNG TIN</h5>
              <ul class="footer-nav">
                <li>
                  <a routerLinkActive="active" routerLink="contact-us"
                    >Liên hệ</a
                  >
                </li>

                <address class="address">
                  <span>Địa chỉ: 828 Sư Vạn Hạnh - TPHCM</span>
                  <br />
                  <span>Email: minhtri@gmail.com</span>
                </address>
              </ul>
            </div>
            <!-- End Footer Single Item -->
          </div>
          <div class="col-lg-3 col-sm-6 mb-6">
            <!-- Start Footer Single Item -->
            <div
              class="footer-widget-single-item footer-widget-color--golden"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <h5 class="title">Chính sách</h5>
              <ul class="footer-nav">
                <li>
                  <a routerLinkActive="active" routerLink="/shopping/my-account"
                    >Tài khoản của tôi</a
                  >
                </li>
                <li><a href="/contact-us">Chính sách bán hàng</a></li>
                <li><a href="/search/m">Chính sách đổi trả</a></li>
                <li><a href="/private-policy">Chính sách bảo mật</a></li>
                <li>
                  <a href="/terms-service">Điều khoản dịch vụ</a>
                </li>
              </ul>
            </div>
            <!-- End Footer Single Item -->
          </div>
          <div class="col-lg-3 col-sm-6 mb-6">
            <!-- Start Footer Single Item -->
            <div
              class="footer-widget-single-item footer-widget-color--golden"
              data-aos="fade-up"
              data-aos-delay="400"
            >
              <h5 class="title">THEO DÕI CHÚNG TÔI</h5>
              <ul class="footer-social-link">
                <li>
                  <a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-instagram"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-linkedin"></i></a>
                </li>
              </ul>
            </div>
            <!-- End Footer Single Item -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Footer Top -->

    <!-- Start Footer Bottom -->
    <!-- <div class="footer-bottom">
      <div class="container">
        <div
          class="row justify-content-between align-items-center align-items-center flex-column flex-md-row mb-n6"
        >
          <div class="col-auto mb-6">
            <div class="footer-copyright">
              <p>
                COPYRIGHT &copy;
                <a href="#" target="_blank">BIGSHOPE</a>.ĐÃ ĐĂNG KÝ BẢN QUYỀN.
              </p>
            </div>
          </div>
          <div class="col-auto mb-6">
            <div class="footer-payment">
              <div class="image">
                <img src="assets/images/company-logo/payment.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <!-- Start Footer Bottom -->
  </div>
</footer>
<!-- End Footer Section -->

<!-- material-scrolltop button -->
<button class="material-scrolltop" type="button"></button>

<!-- Start Modal Add cart -->
<app-add-cart-modal></app-add-cart-modal>
<!-- End Modal Add cart -->

<!-- Start Modal Quickview cart -->
<app-quick-view-modal></app-quick-view-modal>
<!-- End Modal Quickview cart -->
