<!-- ...:::: Start Breadcrumb Section:::... -->
<div class="breadcrumb-section breadcrumb-bg-color--golden">
  <div class="breadcrumb-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h3 class="breadcrumb-title">Hướng dẫn bảo quản áo</h3>
          <div
            class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden"
          >
            <nav aria-label="breadcrumb">
              <ul>
                <li><a routerLink="/">Trang chủ</a></li>
                <li class="active" aria-current="page">
                  Hướng dẫn bảo quản áo
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ...:::: End Breadcrumb Section:::... -->

<!-- ...::::Start Contact Section:::... -->
<div class="contact-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <!-- Start Contact Details -->
        <div
          class="contact-details-wrapper"
          data-aos="fade-up"
          data-aos-delay="0"
        >
          <h1 class="font-title title color-title">Hướng dẫn chọn size</h1>
          <h1 class="color-title font-item">
            Mặc dù rất tự tin vào chất lượng sản phẩm tuy nhiên chúng mình vẫn
            có một vài lưu ý nho nhỏ để giúp các bạn có thể bảo quản và sử dụng
            sản phẩm một cách bền đẹp nhất như sau:
          </h1>
          <ul>
            <li>
              Khi giặt máy hãy lộn ngược áo
            </li>
            <li>
              Không giặt áo cùng các sản phẩm tẩy trắng như Javen, thuốc tẩy...
            </li>
            <li>Không là trực tiếp lên hình in ( Hãy lộn trái và là ^^)</li>
            <li>Không giặt áo với nước có nhiệt độ trên 30 độ</li>
            <li>
              Tránh phơi hình in trực tiếp dưới ánh nắng mặt trời (Hãy lộn trái
              áo và phơi ^^)
            </li>
          </ul>
          <p>Chúc các bạn sẽ có 1 trải nghiệm mặc áo tuyệt vời nhất!</p>
        </div>
        <!-- End Contact Details -->
      </div>
    </div>
  </div>
</div>
<!-- ...::::ENd Contact Section:::... -->
